.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient(to right, #1f1f20, #101010);
  color: white;
  z-index: 1;
  padding: 2vw; 

}

.overlay-text {
  font-size: 4vw; 
  font-weight: bold;
  margin-top: 11vh; 
  margin-left: 10vw; 
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.body-text {
  font-size: 1.2vw; 
  font-weight: regular;
  margin-top: 2vh; 
  margin-left: 12vw;
  font-style: italic;
  color: rgb(126, 195, 126);
}

.login-button {
  width: 12vw; 
  height: 12vw; 
  background-color: rgb(126, 195, 126);
  color: white;
  font-size: 1.5vw; 
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vw; 
  margin-left: 70vw; 
  margin-top: 6vh; 
  animation: glow 2s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

.login-button:hover {
  background-color: rgb(55, 111, 55);
  animation: spiral-hover 2s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 15px rgba(126, 195, 126, 0.8);
  }
  50% {
    box-shadow: 0 0 35px rgba(126, 195, 126, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(126, 195, 126, 0.8);
  }
}

@keyframes spiral-hover {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(10px) translateY(10px) rotate(10deg);
  }
  100%{
    transform: translateX(0) translateY(0) rotate(0);
  }

}