.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    /* background: linear-gradient(to right, #44419a, #1e1397); */
    background-color: black;
    height: 60px;
    padding: 0 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }

  .website-name {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  
  .navbar-right {
    margin-left: auto; 
  }
  
  .login-button {
    padding: 8px 16px;
    background-color: #a7aae3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #1e1397;
  }
  