.body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1.5vw;
}

.navbar h1 {
  margin: 0;
}

.navbar button {
  background-color: rgb(126, 195, 126);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 16px;
}

.navbar button:hover {
  background-color: rgb(55, 111, 55);
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.user-input h2 {
  margin-bottom: 20px;
}

.user-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.user-input button {
  background-color: rgb(126, 195, 126);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 16px;
}

.user-input button:hover {
  background-color: rgb(55, 111, 55);
}

.transportation-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
  text-align: center;
}

.transportation-selection .transportation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transportation-buttons button {
  width: 8vw;
  height: 8vw;
  background-color: rgb(235, 193, 249);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1.5vw;
  font-size: 16px;
  align-items: center;
}


 .transportation-buttons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vw;
  justify-content: center; 
  text-align: center; 
}

.transportation-buttons div p {
  margin: 0; 
  margin-top: 0.5em; 
}

.transportation-selection h2 {
  margin-bottom: 2v2;
}

.transportation-buttons button.selected {
  background-color: rgb(189, 138, 214);
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

.button-group .submit-button {
  background-color: rgb(126, 195, 126);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 16px;
  margin-top: 1.5vw;
}

.button-group .previous-button {
  background-color: rgb(126, 195, 126);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 16px;
  margin-top: -2vw;
}

.button-group .previous-button:hover {
  background-color: rgb(55, 111, 55);
}

.button-group .submit-button:hover {
  background-color: rgb(55, 111, 55);
}

.playlist-section h2{
  margin-top: 4vw;
      margin-bottom: 20px;
}

.playlist-section button {
  background-color: rgb(126, 195, 126);
  color: rgb(1, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw 1.5vw;
  font-size: 16px;
  margin-top: 9vw;
}

.playlist-section button:hover {
  background-color: rgb(55, 111, 55);
}
